html {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 10%;
}

#head {
    height: 10%;
    margin-right: 10%;
}

#thumbs {
    display: flex;
    text-align: center;
    font-size: .75rem;
}

.tb {
    margin-left: 5px;
    padding: .5% 2% .5% 2%;
    height: auto;
    width: auto;
    background-color: white;
    border: 2px solid green;
}

.tb2 {
    margin-left: 5px;
    padding: .5% 2% .5% 2%;
    height: auto;
    width: auto;
    background-color: white;
    border: 2px solid green;
}

.thumbs {
    height: 100px;
    width: auto;
}

h1 {
    font-size: 3rem;
    margin-top: 5px;
}

#attack {
    position: relative;
    top: 200px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 5px;
}

button {
    margin-top: 5px;
    margin-left: 5px;
}

#enemies {
    display: flex;
    text-align: center;
    font-size: .75rem;
    margin: 5px 0 5px 0;
}

#defender {
    display: flex;
    text-align: center;
    font-size: .75rem;
    margin: 5px 0 5px 0;
}