html {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 10%;
}

#head {
    height: 10%;
    margin-right: 10%;
}

#thumbs {
    margin-left: 5px;
}

.thumbs {
    height: 100px;
    width: auto;
    padding: 2%;
    border: 2px solid green;

}

h1 {
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5px;
}

#attack {
    position: relative;
    top: 200px;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5px;
    margin-left: 5px;
}

button {
    margin-top: 5px;
    margin-left: 5px;
}